:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: rgb(131, 58, 180);
  background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 59%,
      rgba(252, 176, 69, 1) 100%
  );
  display: flex;
  justify-content: center;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.opacity-1 {
    opacity: 1;
}
